
body {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient( 18deg, green,rgb(0, 255, 229),blue, rgb(143, 21, 168), red);
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.menu {
  background-color: white;
  width: auto;
  height: auto;
}

.head-button {
    width: 20%;
    height: 50px;
    appearance: none;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    border: none;
}

.head-button:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
  max-width: 1000px;
  margin: auto;
}

.pokemon-card {
  position: relative;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.pokemon-name {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  text-transform: capitalize;
}

.pokemon-name:hover{
  transform: scale(1.05);
  transition: 1s;

}

.pokemon-type {
  background-color: rgba(144,  203,  44,  0.3);
  align-items: center;
  border-style: border-box;
  border-radius: 50px;
  font-size: 1.0rem;
  color: #fff;
}

footer {
  height: 620px;
  align-content: center;
  text-align: center;

}

.bg-grass { background-color: #78C850; }
.bg-fire { background-color: #F08030; }
.bg-water { background-color: #6890F0; }
.bg-electric { background-color: #F8D030; color: black; }
.bg-ice { background-color: #98D8D8; color: black; }
.bg-fighting { background-color: #C03028; }
.bg-poison { background-color: #A040A0; }
.bg-ground { background-color: #E0C068; color: black; }
.bg-flying { background-color: #A890F0; }
.bg-psychic { background-color: #F85888; }
.bg-bug { background-color: #A8B820; color: black; }
.bg-rock { background-color: #B8A038; color: black; }
.bg-ghost { background-color: #705898; }
.bg-dark { background-color: #705848; }
.bg-dragon { background-color: #7038F8; }
.bg-steel { background-color: #B8B8D0; color: black; }
.bg-fairy { background-color: #EE99AC; color: black; }
.bg-normal { background-color: #A8A878; }